#title{
    text-align: left;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: bolder;
}

input[type=text]:focus{
    background-color: rgb(219, 241, 255);
    border: 3px gray;
}

button{
    width: 60px; 
    background-color: rgb(37, 41, 117); 
    color: white; 
    padding: 5px 5px; 
    margin: 5px 0; 
    border: none; 
    border-radius: 4px; 
    cursor: pointer;
}